In [6]:
import pandas as pd
import numpy as np
import os

os.chdir("Z:\\Kenny\\Raw Data from SQL Pyspark")

df = pd.read_csv('DF_Filtered_4.csv', usecols = ['imsi','time_in','duration'])

In [7]:
#df_0 = df.copy()
#df = df[:5000]
df.head(5)

,imsi,time_in,duration
0,+ApT3AnTU.dIXRih.BtStyE0GVY7UD1MZ8NLm4achqdaIq...,2020-11-13 09:02:06,11
1,5PTU1Ub8.K.v9SDTGjCR5WGTeWxbkhi6V+zacVfjKSplio...,2020-11-13 12:00:56,5
2,JBhKBREI812cY2kgLUmmrAQR.7S.KBGI47CPpKh3tB4WZw...,2020-11-13 14:45:40,1
3,iRCCyJDSFEXbWFku3dmMMEhts2V6bzdU9ohpOeGKydT5Zw...,2020-11-13 06:53:57,55
4,89LPOMT4RrgDsu9aAYnCBOd44C6Xs82bHjgxyPGdkMkuad...,2020-11-13 19:55:38,2

In [8]:
df['Dwell_time'] = df.duration/60

In [9]:
df.columns

Index(['imsi', 'time_in', 'duration', 'Dwell_time'], dtype='object')

In [10]:
df.dtypes

imsi           object
time_in        object
duration        int64
Dwell_time    float64
dtype: object

In [11]:
df.head(5)

,imsi,time_in,duration,Dwell_time
0,+ApT3AnTU.dIXRih.BtStyE0GVY7UD1MZ8NLm4achqdaIq...,2020-11-13 09:02:06,11,0.183333
1,5PTU1Ub8.K.v9SDTGjCR5WGTeWxbkhi6V+zacVfjKSplio...,2020-11-13 12:00:56,5,0.083333
2,JBhKBREI812cY2kgLUmmrAQR.7S.KBGI47CPpKh3tB4WZw...,2020-11-13 14:45:40,1,0.016667
3,iRCCyJDSFEXbWFku3dmMMEhts2V6bzdU9ohpOeGKydT5Zw...,2020-11-13 06:53:57,55,0.916667
4,89LPOMT4RrgDsu9aAYnCBOd44C6Xs82bHjgxyPGdkMkuad...,2020-11-13 19:55:38,2,0.033333

In [12]:
file_path = "Z:\\Kenny\\DF_Daily_time_agg_2.csv"

df.to_csv(file_path, index = False)

In [4]:
df.mobile_value_segment = df.mobile_value_segment.replace({'Platinum Plus':'Platinum',
                                                          'Prospect Emerald':"Classic",
                                                          'Prospect Gold':"Classic",
                                                          'Prospect Platinum':"Classic",
                                                          'Prospect Plat Plus':"Classic",
                                                          'N/A':"Classic"})

df.mobile_value_segment.value_counts()

Classic     1280630
Emerald      772530
Gold         435466
Platinum      60596
Name: mobile_value_segment, dtype: int64

In [5]:
df.age_range = df.age_range.replace({'A) <=12':"<= 18 (School)",
                                     'B) 13-18 (High school)':"<= 18 (School)",
                                     'C) 19-25 (University)':"19-25 (University)",
                                     'F) > 50 (Elders)':"> 50 (Elders)",
                                     'D) 26-35 (Young adult)':"26-35 (Young adult)",
                                     'G) N/A':"N/A",
                                     'E) 36-50 (Working adult)':"36-50 (Working adult)"})
df.age_range.value_counts()

36-50 (Working adult)    896712
N/A                      575598
26-35 (Young adult)      504289
> 50 (Elders)            392057
19-25 (University)       193342
<= 18 (School)            11439
Name: age_range, dtype: int64

In [6]:
df['device_max_capabilities'].value_counts()

A) LTE900/1800/2100 Support    2396988
B) LTE Usage                     79663
C) 3G 900/2100 Support           76814
D) 3G Usage                      19248
E) 2G                              724
Name: device_max_capabilities, dtype: int64

In [7]:
df['5G_DEVICE'] = df.device_max_capabilities.replace({'A) LTE900/1800/2100 Support':'N',
                                                      'B) LTE Usage':'N',
                                                      'C) 3G 900/2100 Support':'N',
                                                      'D) 3G Usage':'N',
                                                      'E) 2G':"N",
                                                      'F) 5G 2600 Support':"Y"})
df['5G_DEVICE'].value_counts()

N    2573437
Name: 5G_DEVICE, dtype: int64

In [8]:
df['data_usage'] = df.data_usage.replace({'VA01: 0':'No Usage(0 MB)',
                                          'VA02: 0.01-5':'Low (0 to 500 MB)',
                                          'VA03: 5.01-10':'Low (0 to 500 MB)',
                                          'VA04: 10.01-20':'Low (0 to 500 MB)',
                                          'VA05: 20.01-30':'Low (0 to 500 MB)',
                                          'VA06: 30.01-50':'Low (0 to 500 MB)',
                                          'VA07: 50.01-70':'Low (0 to 500 MB)',
                                          'VA08: 70.01-100':'Low (0 to 500 MB)',
                                          'VA09: 100.01-200':'Low (0 to 500 MB)',
                                          'VA10: 200.01-300':'Low (0 to 500 MB)',
                                          'VA11: 300.01-500':'Low (0 to 500 MB)',
                                          'VA12: 500.01-700':'Medium(500MB to 3GB)',
                                          'VA13: 700.01-1000':'Medium(500MB to 3GB)',
                                          'VA14: 1000.01-2000':'Medium(500MB to 3GB)',
                                          'VA15: 2000.01-3000':'Medium(500MB to 3GB)',
                                          'VA16: 3000.01-4000':'High (3GB to 10GB)',
                                          'VA17: 4000.01-5000':'High (3GB to 10GB)',
                                          'VA18: 5000.01-6000':'High (3GB to 10GB)',
                                          'VA19: 6000.01-7000':'High (3GB to 10GB)',
                                          'VA20: 7000.01-8000':'High (3GB to 10GB)',
                                          'VA21: 8000.01-9000':'High (3GB to 10GB)',
                                          'VA22: 9000.01-10000':'High (3GB to 10GB)',
                                          'VA23: 10000.01-20000':'Very High(>10 GB)',
                                          'VA24: 20000.01-30000':'Very High(>10 GB)',
                                          'VA25: > 30000':'Very High(>10 GB)',
                                          "":"N/A"})
df['data_usage'].value_counts()

Very High(>10 GB)       1705907
High (3GB to 10GB)       545540
Medium(500MB to 3GB)     178570
Low (0 to 500 MB)         99049
No Usage(0 MB)            22451
Name: data_usage, dtype: int64

In [9]:
# Adding Local_Visitor_info
def com(x):
    if((str(x['country_network_code']).startswith('520')) & (x['promo_subgroup'] != 'Traveller SIM')):
        return 'Local'
    else:
        return 'Visitor'
df['Visitor_info']= df.apply(com,axis=1)
df['Visitor_info'].value_counts()

Local      2574623
Visitor      84043
Name: Visitor_info, dtype: int64

In [10]:
#df.groupby('Inbound')['country_network_code'].value_counts()

In [11]:
# Filling null values for full dataframe
df.fillna('N/A',inplace = True)

### Total Users,  Total Footfall,  Unique Subs Pattern by Freq of Visit in day
####    1 Visit, 2 Visits, 3-5 Visits, >= 5Visits"

In [12]:
group_names = ['pa_id','pa_name','pa_centroid',
               'lm_cat_name','lm_sub_name',
               'geo_sub_district_name_en','geo_district_name_en',
               'geo_province_name_en','geo_sub_region_name_en','geo_region_name_en',
               'data_usage','5G_DEVICE','charge_type','mobile_value_segment','age_range','Visitor_info']

In [13]:
# KPI Total Footfall
df_grouped = df.groupby(group_names)['imsi'].agg(unique_subs            = 'nunique',
                                                 total_footfall         = 'count',
                                                 freq_of_visit_eq_1     = (lambda x : sum(x.value_counts()==1)),
                                                 freq_of_visit_eq_2     = (lambda x : sum(x.value_counts()==2)),
                                                 freq_of_visit_gte3_lt5 = (lambda x : sum((x.value_counts()>=3)&(x.value_counts()<=5))),
                                                 freq_of_visit_gte_5    = (lambda x : sum(x.value_counts() >5))).reset_index()

### Hourly Footfall Pattern

In [14]:
df_hour = df.groupby(group_names)['hour_in'].value_counts().unstack(-1).fillna(0).add_prefix('total_visits_hr_')
df_hour.shape

(60502, 23)

In [15]:
df_hour['total_visits_hr_23'] = df_hour['total_visits_hr_0']

In [16]:
# Rename columns
new_names = {'total_visits_hr_0': 'total_visits_hr_00',
             'total_visits_hr_1': 'total_visits_hr_01',
             'total_visits_hr_2': 'total_visits_hr_02',
             'total_visits_hr_3': 'total_visits_hr_03', 
             'total_visits_hr_4': 'total_visits_hr_04',
             'total_visits_hr_5': 'total_visits_hr_05',
             'total_visits_hr_6': 'total_visits_hr_06',
             'total_visits_hr_7': 'total_visits_hr_07',
             'total_visits_hr_8': 'total_visits_hr_08',
             'total_visits_hr_9': 'total_visits_hr_09'}

df_hour.rename(columns = new_names,inplace = True)
#df_hour.columns

### Hourly Unique Subs Pattern

In [17]:
group_names.append('hour_in')

In [18]:
df_hour_uniq = df.groupby(group_names)['imsi'].nunique().unstack(-1).fillna(0).add_prefix('unique_subs_hr_')

In [19]:
# Create 23 hour column 
df_hour_uniq['unique_subs_hr_23'] = df_hour_uniq['unique_subs_hr_0']

In [20]:
# Renaming single digit columns
new_names = {'unique_subs_hr_0': 'unique_subs_hr_00',
             'unique_subs_hr_1': 'unique_subs_hr_01',
             'unique_subs_hr_2': 'unique_subs_hr_02',
             'unique_subs_hr_3': 'unique_subs_hr_03', 
             'unique_subs_hr_4': 'unique_subs_hr_04',
             'unique_subs_hr_5': 'unique_subs_hr_05',
             'unique_subs_hr_6': 'unique_subs_hr_06',
             'unique_subs_hr_7': 'unique_subs_hr_07',
             'unique_subs_hr_8': 'unique_subs_hr_08',
             'unique_subs_hr_9': 'unique_subs_hr_09'}

df_hour_uniq.rename(columns = new_names,inplace = True)
#df_hour_uniq.columns

### Dwell time/Visit duration day pattern(Unique Subs)
(0-30, 30-60, 60-120, 120-180, 180-360, 360-480, >480 mins)

In [21]:
group_names.remove('hour_in')
group_names.append('imsi')

In [22]:
Dwell_time = df.groupby(group_names, as_index = False)['duration'].sum()

In [23]:
Dwell_time['duration_in_min']= ((Dwell_time.duration)/60).round(2)

In [24]:
cut_labels = ['dwell_time_unique_subs_0_30', 
              'dwell_time_unique_subs_30_60', 
              'dwell_time_unique_subs_60_120', 
              'dwell_time_unique_subs_120_180',
              'dwell_time_unique_subs_180_360', 
              'dwell_time_unique_subs_360_480', 
              'dwell_time_unique_subs_gte480']
cut_bins = [0, 30, 60, 120, 180, 360, 480, 1000000]
Dwell_time['Dwell_split'] = pd.cut(Dwell_time['duration_in_min'], bins=cut_bins, labels=cut_labels)

In [25]:
Dwell_time['Dwell_split'].value_counts()

dwell_time_unique_subs_0_30       230593
dwell_time_unique_subs_30_60        7368
dwell_time_unique_subs_gte480       7271
dwell_time_unique_subs_60_120       6911
dwell_time_unique_subs_180_360      4866
dwell_time_unique_subs_120_180      3433
dwell_time_unique_subs_360_480      2030
Name: Dwell_split, dtype: int64

In [26]:
# Dwell_time kpi (final_table)
group_names.remove('imsi')

Dwell_time_final = Dwell_time.groupby(group_names)['Dwell_split'].value_counts().unstack(-1).fillna(0)

#Dwell_time_final.head(2)

### Dwell time/Visit duration day pattern(Per Event)
(0-30, 30-60, 60-120, 120-180, 180-360, 360-480, >480 mins)

In [27]:
cut_labels = ['dwell_time_visits_0_30', 
              'dwell_time_visits_30_60', 
              'dwell_time_visits_60_120', 
              'dwell_time_visits_120_180',
              'dwell_time_visits_180_360', 
              'dwell_time_visits_360_480', 
              'dwell_time_visits_gte480']
cut_bins = [0, 30, 60, 120, 180, 360, 480, 1000000]
df['Dwell_minutes'] = (df['duration']/60).round(2)
df['Dwell_split'] = pd.cut(df['Dwell_minutes'], bins=cut_bins, labels=cut_labels)

In [28]:
df['Dwell_split'].value_counts()

dwell_time_visits_0_30       2598746
dwell_time_visits_30_60        16997
dwell_time_visits_60_120       12739
dwell_time_visits_180_360       4892
dwell_time_visits_120_180       4159
dwell_time_visits_gte480        2876
dwell_time_visits_360_480       1591
Name: Dwell_split, dtype: int64

In [29]:
df_dwelltime = df.groupby(group_names)['Dwell_split'].value_counts().unstack(-1).fillna(0)
df_dwelltime.shape

(60417, 7)

In [30]:
# Join all the groups
dfs = [df_grouped,df_hour, df_hour_uniq, df_dwelltime, Dwell_time_final]

In [31]:
# Checking/ Validating the groups
[df_grouped.shape,df_hour.shape, df_hour_uniq.shape, df_dwelltime.shape, Dwell_time_final.shape]

[(60502, 22), (60502, 24), (60502, 24), (60417, 7), (60417, 7)]

In [32]:
from functools import reduce
df_final = reduce(lambda left,right: pd.merge(left,right,on=group_names), dfs)

In [33]:
df_final.shape

(60417, 84)

In [34]:
file_path = "Z:\\Kenny\\DF_Daily_agg_2.csv"

df_final.to_csv(file_path, index = False)